@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
margin: 0;
padding: 0;
}


body {
background-color: black;
color: rgb(0, 0, 0);
font-family: 'Poppins', sans-serif;
}
@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}
html{
  scroll-behavior: smooth;
}
#sidebar{
  display: none;
}
.user3{
  display: none;
}
 .Ht p{
     text-align: center;
  }
.logo h1{
  line-height: 80px;
  font-size: 3em;
}
nav{
  background: #0082e6;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  }
   
nav ul{
  float: right;
  margin-right: 20px;
  top: 0;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
@media (max-width: 1080px){
  nav{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
  
  #toggle{
    position: fixed;
    display: flex;
    background: #0082e6;
    top: 20px;
    right: 20px;
    width: 10vh;
    height: 60px;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }  
  #toggle::before{
    content: '';
    position: absolute;  
    height: 2px;
    width: 10vh;
    background: rgb(247, 239, 239);
    transform: translateY(-5px);
    transition: 0.2s;
  }
  #toggle::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(236, 233, 233);
    transform: translateY(5px);
    transition: 0.2s;
  }
  #toggle.active::before{
    transform: translateY(0px) rotate(45deg);
  }
  #toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
  }
  .logo h1{
    line-height: 80px;
    font-size: 3em;
  }
  #sidebar{
    position: fixed;
    top: 0;
    left: -600px;
    width: 40vh;
    height: 350vh;
    background: #0082e6;
    transition: 0.5s;
    display: flex;
    
    z-index: 1;
  }
  #sidebar.active{
    left: 0px;
  }
  #sidebar ul{
    position: relative;
    margin-top: 50px;
  }
  #sidebar ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 40px;
  }
  #sidebar ul li:hover{
    background: black;
  }
  #sidebar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
   }
  .user{
     display: none;
  }
  .user3{
    height: 90vh;
    display: block;
  }
 
}


  .About h1{
  text-align: center;
  }

  .Skills h1{
  text-align: center;
  }
.h-text{
  max-width: 500px;
  position: relative;
  top: 30%;
  left: 10%;
}
.h-text h1{
  font-size: 5em;
  color: red;
  top: 30%;
}
.h-text h5{
  max-width: 100%;
  font-size: 2em;
}
.h-text p{
  max-width: 100%;
  font-size: 1.5em;
}
.user{
  position: absolute;
  width: 600px;
  height: 100%;
  top: 0;
  left: 110%;
  object-fit: cover;
}

.container {
  width: 100%;
  background-color: #ddd;
  box-sizing: border-box;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #04AA6D;}
.css {width: 50%; background-color: #2196F3;}
.js {width: 16%; background-color: #f44336;}
.Photoshop {width: 30%; background-color: #808080;}


.icon{
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.icon i{
  color: white;
  padding: 10px;
  font-size: 20px;
  margin: 5px 0px;
  background: aqua;
}
.icon i:hover{
  background: transparent;
  transition: 0.4s;
  border: 1px solid black;
  color: black;
}

.Feedback title{
  text-align: center;
  }
.Feedback{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container2 {
  width: 90%;
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: black;
  background-color: #0082e6;
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-group{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea{
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(54, 126, 223, .5);
  margin-top: 5px;
}
textarea{
  resize: vertical;
}
button[type="submit"]{
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  color: #0082e6;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: .3s ease background-color;
}
button[type="submit"]:hover{
  background-color: black;
}
#status{
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success{
  background-color: #0082e6;
  animation: status 4s ease delay forwards;
}
#status.error{
  background-color: red;
  color: #fff;
  animation: status 4s ease forwards;
}
@keyframes status{
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}
.footer{
  justify-content: center;
}
.footer p{
  text-align: center;
}
